## https://framagit.org/luc/lufi/wikis/installation as virtualhost

    # HTTPS only header, improves security
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "sameorigin"
    #Header set X-Frame-Options "deny"
    #Header set Strict-Transport-Security "max-age=16070400; includeSubDomains"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
    Header set X-XSS-Protection "1; mode=block"
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self'; style-src 'self'; object-src 'self';"
    Header set Referrer-Policy "strict-origin-when-cross-origin"

    # Lufi
    ProxyPreserveHost On
    ProxyRequests off
    RewriteEngine On
    RewriteCond %{HTTP:Connection} upgrade [NC]
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    # Adapt this to your configuration
{% if lufi_reverseproxy_https is defined and lufi_reverseproxy_https %}
    # HTTPS only, use instead of the above line (note the "wss" instead of "ws")
    #RewriteRule ^/lufi/(.*) wss://127.0.0.1:8081/lufi/$1 [P,L]
    # HTTPS only, but won't be used if you use HTTP. You can leave it.
    RequestHeader set X-Forwarded-Proto https env=HTTPS
{% else %}
    RewriteRule ^/lufi/(.*) ws://{{ lufi_origin }}/lufi/$1 [P,L]
{% endif %}

    RequestHeader unset X-Forwarded-Proto
    RequestHeader add X-Remote-Port %{R_P}e

    <Location /lufi>
        # Adapt this to your configuration
        ProxyPass http://{{ lufi_origin }}/lufi
        ProxyPassReverse /lufi
        LimitRequestBody 104857600
    </Location>

