## from https://framagit.org/luc/lufi/wikis/installation

server {
    listen {{ lufi_serverlisten }};

    # Adapt this to your domain!
    server_name {{ lufi_servername }};

    access_log /var/log/nginx/lufi.success.log;
    error_log /var/log/nginx/lufi.error.log;

    location / {
        # Add cache for static files
        if ($request_uri ~* ^/(img|css|font|js)/) {
            add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
            add_header Cache-Control "public, max-age=315360000";
        }
        # HTTPS only header, improves security
        #add_header Strict-Transport-Security "max-age=15768000";
        add_header X-Content-Type-Options nosniff;
        add_header X-Frame-Options SAMEORIGIN;
        #add_header X-Frame-Options DENY;
        add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
        add_header X-XSS-Protection "1; mode=block";
        #add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self' 'ws://{{ lufi_servername }}/upload'; img-src 'self'; style-src 'self';";
        #add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self' ws://; img-src 'self'; style-src 'self';";
        ## FIXME! over http, CSP request for amazonaws, lancheck??? jquery? not impacting to refuse them
        #add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://s3.amazonaws.com/js-static/ http://lancheck.net/metric/ http://lancheck.net/optout/; connect-src 'self' *; img-src 'self' http://lancheck.net/metric/; style-src 'self' 'unsafe-inline';";
{% if lufi_csp is defined and lufi_csp != '' %}
        add_header Content-Security-Policy "{{ lufi_csp }}";
{% endif %}
        add_header Referrer-Policy strict-origin-when-cross-origin;

        # Adapt this to your configuration (port, subdirectory (see below))
        proxy_pass  http://{{ lufi_origin }};

        # Really important! Lufi uses WebSocket, it won't work without this
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # If you want to log the remote port of the file senders, you'll need that
        proxy_set_header X-Remote-Port $remote_port;

        proxy_set_header X-Forwarded-Proto $scheme;

        # We expect the downstream servers to redirect to the right hostname, so don't do any rewrites here.
        proxy_redirect     off;
    }
}
