## https://framagit.org/luc/lufi/wikis/installation as virtualhost
{% if lufi_virtualhost %}
Listen {{ lufi_serverlisten }} {% if lufi_reverseproxy_https %}https{% endif %}

<Virtualhost {{ lufi_servername }}:{{ lufi_serverlisten }}>
{% endif %}

{% if lufi_reverseproxy_https %}
{{ lufi_reverseproxy_https_conf }}
{% endif %}

    # HTTPS only header, improves security
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "sameorigin"
    #Header set X-Frame-Options "deny"
    #Header set Strict-Transport-Security "max-age=16070400; includeSubDomains"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
    Header set X-XSS-Protection "1; mode=block"
{% if lufi_csp is defined and lufi_csp != '' %}
    Header set Content-Security-Policy "{{ lufi_csp }}"
{% endif %}
    #Header set Referrer-Policy "strict-origin-when-cross-origin"
    Header set Referrer-Policy "origin"

    # Lufi
    ProxyPreserveHost On
    ProxyRequests off
    RewriteEngine On
    RewriteCond %{HTTP:Connection} upgrade [NC]
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    # Adapt this to your configuration
{% if lufi_reverseproxy_https is defined and lufi_reverseproxy_https %}
    # HTTPS only, use instead of the above line (note the "wss" instead of "ws")
    RewriteRule ^/lufi/(.*) wss://{{ lufi_origin }}{{ lufi_prefix }}/$1 [P,L]
    # HTTPS only, but won't be used if you use HTTP. You can leave it.
    RequestHeader set X-Forwarded-Proto https env=HTTPS
{% else %}
    RewriteRule ^/lufi/(.*) ws://{{ lufi_origin }}{{ lufi_prefix }}/$1 [P,L]
{% endif %}

    RequestHeader unset X-Forwarded-Proto
    RequestHeader add X-Remote-Port %{R_P}e

    <Location {{ lufi_prefix }}>
        # Adapt this to your configuration
        ProxyPass http://{{ lufi_origin }}{{ lufi_prefix }}
        ProxyPassReverse {{ lufi_prefix }}
        LimitRequestBody 104857600
    </Location>

{% if lufi_virtualhost %}
</Virtualhost>
{% endif %}
